<form name="form.account" novalidate>
<table class="accountTable">
    <!--fname & lname -->
    <tr>
        <td>
            <p class="titles">{{titles.fname}}</p>
            <input type="text" ng-model="account.fname" placeholder="{{titles.fname}}" required/>
        </td>
        <td>
            <p class="titles">{{titles.lname}}</p>
            <input type="text" ng-model="account.lname" placeholder="{{titles.lname}}" required/>
        </td>

        <td rowspan="4" class="spacer"></td>
        <!-- password & confirm password -->

        <td>
            <p class="titles">{{titles.password}}</p>
            <input class="ltr" type="password" ng-model="account.password"  required ng-pattern="/^(?=.*\d)(?=.*\D).{6,}$/"/>
        </td>
        <td>
            <p class="titles">{{titles.password_conf}}</p>
            <input class="ltr" type="password" ng-model="account.password_conf"  required confirm="account.password"/>
        </td>

    </tr>
    <!-- street & city -->
    <tr>
        <td>
            <p class="titles">{{titles.street}}</p>
            <input type="text" ng-model="account.street" placeholder="{{titles.street}}" required/>
        </td>
        <td>
            <p class="titles">{{titles.city}}</p>
            <input type="text" ng-model="account.city" placeholder="{{titles.city}}" required/>
        </td>

        <!-- question & answer -->
        <td>
            <p class="titles">{{titles.question}}</p>
            <select type="text" ng-model="account.question" placeholder="{{titles.question}}" required ng-options="c.quest for c in questions"></select>
        </td>
        <td>
            <p class="titles">{{titles.answer}}</p>
            <input type="text" ng-model="account.answer" placeholder="{{titles.answer}}" required/>
        </td>

    </tr>

    <!-- zip -->
    <tr>
        <td colspan="2">
            <p class="titles">{{titles.zip}}</p>
            <input type="text" ng-model="account.zip" placeholder="{{titles.zip}}" required/>
        </td>


        <!-- email & confirm email -->
        <td>
            <p class="titles">{{titles.email}}</p>
            <input name="email" class="ltr" type="text" ng-model="account.email" required check-email
                   ng-pattern='/^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/' />
        </td>
        <td>
            <p class="titles">{{titles.email_conf}}</p>
            <input class="ltr" type="text" ng-model="account.email_conf" required confirm="account.email"/>
        </td>
    </tr>


        <!-- order_id & order_year -->
    <tr>
        <td colspan="2"></td>
        <td>
            <p class="titles">{{titles.order_id}}</p>
            <input type="text" ng-model="account.order_id" placeholder="{{titles.order_id}}" required/>
        </td>
        <td>
            <p class="titles">{{titles.order_year}}</p>
            <select type="text" ng-model="account.order_year" placeholder="{{titles.order_year}}" required/>
                <option value="14">2014</option>
                <option value="15">2015</option>
                <option value="16">2016</option>
            </select>
        </td>

    </tr>
        <tr><td colspan="5">
            <button class="btn" ng-click="create(account)" ng-disabled="!(!form.account.email.$error.exist && form.account.$valid)" >{{titles.send}}</button>
            <!-- button disabled until email not exist && form is valid -->
            <p>
                <span class="red" ng-show="form.account.email.$error.exist">{{titles.err_email_exist}}</span>
            </p>


        </td></tr>

</table>
</form>