
<h1 ng-show="status.success" style="float:none">{{titles.success}}</h1>



<form name="form.account" novalidat ng-hide="status.success">
<table class="accountTable">
    <!--fname & lname -->
    <tr>
        <td>
            <p class="titles">{{titles.fname}}</p>
            <input name="fname" type="text" ng-model="account.fname" placeholder="{{titles.fname}}" required/>
            <p class="err-msg" ng-show="form.account.fname.$invalid">{{titles.err.required}}</p>
        </td>
        <td>
            <p class="titles">{{titles.lname}}</p>
            <input name="lname" type="text" ng-model="account.lname" placeholder="{{titles.lname}}" required/>
            <p class="err-msg" ng-show="form.account.lname.$invalid">{{titles.err.required}}</p>
        </td>

        <td rowspan="4" class="spacer"></td>
        <!-- password & confirm password -->

        <td>
            <p class="titles">{{titles.password}}</p>
            <input name="password" class="ltr" type="password" ng-model="account.password"  required ng-pattern="/^(?=.*\d)(?=.*\D).{6,}$/"/>
            <p class="err-msg" ng-show="form.account.password.$invalid">{{titles.err.password}}</p>
        </td>
        <td>
            <p class="titles">{{titles.password_conf}}</p>
            <input name="password_conf" class="ltr" type="password" ng-model="account.password_conf"  required confirm="account.password"/>
            <p class="err-msg" ng-show="form.account.password_conf.$invalid">{{titles.err.match}}</p>
        </td>

    </tr>
    <!-- street & city -->
    <tr>
        <td>
            <p class="titles">{{titles.street}}</p>
            <input name="street" type="text" ng-model="account.street" placeholder="{{titles.street}}" required/>
            <p class="err-msg" ng-show="form.account.street.$invalid">{{titles.err.required}}</p>
        </td>
        <td>
            <p class="titles">{{titles.city}}</p>
            <input name="city" type="text" ng-model="account.city" placeholder="{{titles.city}}" required/>
            <p class="err-msg" ng-show="form.account.city.$invalid">{{titles.err.required}}</p>
        </td>

        <!-- question & answer -->
        <td>
            <p class="titles">{{titles.question}}</p>
            <select name="question" type="text" ng-model="account.question" placeholder="{{titles.question}}" required ng-options="c.quest for c in questions"></select>
            <p class="err-msg" ng-show="form.account.question.$invalid">{{titles.err.required}}</p>
        </td>
        <td>
            <p class="titles">{{titles.answer}}</p>
            <input name="answer" type="text" ng-model="account.answer" placeholder="{{titles.answer}}" required/>
            <p class="err-msg" ng-show="form.account.answer.$invalid">{{titles.err.required}}</p>
        </td>

    </tr>

    <!-- zip -->
    <tr>
        <td colspan="2">
            <p class="titles">{{titles.zip}}</p>
            <input name="zip" type="text" ng-model="account.zip" placeholder="{{titles.zip}}" required/>
            <p class="err-msg" ng-show="form.account.zip.$invalid">{{titles.err.required}}</p>
        </td>


        <!-- email & confirm email -->
        <td>
            <p class="titles">{{titles.email}}</p>
            <input name="email" class="ltr" type="text" ng-model="account.email" required check-email
                   ng-pattern="/^(([^<>()[\]\\.,;:\s@\']+(\.[^<>()[\]\\.,;:\s@\']+)*)|(\'.+\'))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/" />
            <p class="err-msg" ng-show="form.account.email.$invalid">{{titles.err.email_exist}}</p>
        </td>
        <td>
            <p class="titles">{{titles.email_conf}}</p>
            <input name="email_conf" class="ltr" type="text" ng-model="account.email_conf" required confirm="account.email"/>
            <p class="err-msg" ng-show="form.account.email_conf.$invalid">{{titles.err.match}}</p>
        </td>
    </tr>


        <!-- order_id & order_year -->
    <tr>
        <td colspan="2"></td>
        <td>
            <p class="titles">{{titles.order_id}}</p>
            <input name="order_id" type="text" ng-model="account.order_id" placeholder="{{titles.order_id}}" required maxlength="8"/>
            <p class="err-msg" ng-show="form.account.order_id.$invalid">{{titles.err.required}}</p>
        </td>
        <td>
            <p class="titles">{{titles.order_year}}</p>
            <select name="order_year"  ng-model="account.order_year" placeholder="{{titles.order_year}}" required>
                <option value="14">2014</option>
                <option value="15">2015</option>
                <option value="16">2016</option>
            </select>

            <p class="err-msg" ng-show="form.account.order_year.$invalid">{{titles.err.required}}</p>
        </td>

    </tr>
        <tr><td colspan="5">
            <button class="btn" ng-click="create(account)" ng-disabled="(!(!form.account.email.$error.exist && form.account.$valid)) || status.sending" >{{titles.send}}</button>
            <img ng-show="status.sending" src="images/ajax-loader.gif">
            <!-- button disabled until email not exist && form is valid or status is sending -->

            <p ng-show="status.error">{{titles.err.general}}</p>
            <p ng-show="status.error">{{status.msg}}</p>

        </td></tr>

</table>
</form>

